*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ecc6ba77;
}

h1{
    text-align: center;
}

label{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

select{
   display: block;
   margin: auto;
   text-align: center;
   margin-bottom: 40px;
   background-color: #ecc6ba;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}

.img{
    display: block;
    margin: auto;
    display: none;
    border-radius: 10px;
}

@media screen and (min-width: 0px) {
    .img{
        width: 400px;
        height: 400px;
    }

@media screen and (min-width: 576px) {
    .img{
        width: 500px;
        height: 500px;
    }
    h1{
        font-size: 40px;
    }
    label{
        font-size: 30px;
    }
    select{
        font-size: 20px;
        margin-bottom: 20px;
    }
}
}

